body{
    margin: 0;
    padding: 0;
    font-family: 'Merriwaeather', 'serif';
    font-weight: bold;
    color: white;
}

.top-overlap-container{
    display: inline-block;
    position: relative;
    padding-top: 30px;
    padding-left: 30px; 
}
.main-img
{
    position: absolute;
    width: 100%;
    
}
.logo{
    position: relative;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    
}
hr{
    display: inline-block;
    position: absolute;
    width: 1000%;
    margin-left: 50px;
    padding:0;
    border-style: solid none none;
    color: grey;
    margin-bottom: 16px;
    margin-top: 45px;
    
    
}
.top-overlap-right-container{
    text-align: center;
    display: inline-block;
    position: absolute;
    width: 35%;
    background-color:#144272 ;
    opacity: 0.5;
    border-style: none;
    margin-top: 43px;
    margin-left: 600px;
    padding: 25px 80px 25px 80px;    
    margin-right: 200px;
}
a{
    text-decoration: none;
    color: white;
    padding-right: 25px;
    
}
.para1{
    display: block;
    position: relative;
    font-size: 1.5em;
    margin: 300px auto 20px 100px;
    
}
.space{
    display: block;
    position: relative;
    font-family: 'Merriwaeather','serif';
    font-size: 8em;
    margin: 20px auto auto 100px;
    font-weight: normal;
}
.para2{
    display: inline-block;
    position: relative;
    text-align: justify;
    font-size: 1em;
    font-weight: normal;
    width: 30%;
    height:auto;
    margin: 40px auto 20px 100px;
    
}
.explore{
    text-align: center;
    display: inline-block;
    position: relative;
    width: 170px;
    height: 100px;
    font-size: 2em;
    margin-left: 400px;
    float: right;
    margin-top: 0;
    padding-top: 60px;
    margin-right: 150px;
    border-radius: 50%;
    background-color: white;
    color: rgb(10, 10, 66);
}

